body {
    background-image: radial-gradient(#402040, #303030);
}
button {
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 48px;
    font-weight: bold;
}
button:active {
    background-color: white;
}
.function-button {
    color: #000;
    background-color: #606070;
}
.number-button {
    color: #E0E0D0;
    background-color: #202030;
}
.operator-button {
    color: #000;
    background-color: #404060;
}
#calc-container {
    background-color: #101010;
    border: 2px solid #000;
    display: grid;
    gap: 2px;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    height: 800px;
    margin: 100px auto;
    width: 800px;
}
#button-clear {
    grid-area: 2 / 1 / span 1 / span 1;
}
#button-backspace {
    grid-area: 2 / 2 / span 1 / span 2;
}
#button1 {
    grid-area: 5 / 1 / span 1 / span 1;
}
#button2 {
    grid-area: 5 / 2 / span 1 / span 1;
}
#button3 {
    grid-area: 5 / 3 / span 1 / span 1;
}
#button4 {
    grid-area: 4 / 1 / span 1 / span 1;
}
#button5 {
    grid-area: 4 / 2 / span 1 / span 1;
}
#button6 {
    grid-area: 4 / 3 / span 1 / span 1;
}
#button7 {
    grid-area: 3 / 1 / span 1 / span 1;
}
#button8 {
    grid-area: 3 / 2 / span 1 / span 1;
}
#button9 {
    grid-area: 3 / 3 / span 1 / span 1;
}
#button0 {
    grid-area: 6 / 1 / span 1 / span 2;
}
#button-decimal {
    grid-area: 6 / 3 / span 1 / span 1;
}
#button-plus {
    grid-area: 2 / 4 / span 1 / span 1;
}
#button-minus {
    grid-area: 3 / 4 / span 1 / span 1;
}
#button-times {
    grid-area: 4 / 4 / span 1 / span 1;
}
#button-divide {
    grid-area: 5 / 4 / span 1 / span 1;
}
#button-enter {
    grid-area: 6 / 4 / span 1 / span 1;
}
#output {
    color: #E0E0D0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 48px;
    vertical-align: middle;
}
#output-container {
    align-self: center;
    grid-area: 1 / 1 / span 1 / span 4;
    height: 100px;
    line-height: 100px;
    text-align: right;
}